.emptyList {
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    color: var(--gray-300);
    text-align: center;
    padding-top: 4rem;
}

.emptyList p{
   font-weight: bold;
}

.emptyList p:last-child {
    font-weight: 400;
}